# Python
__pycache__/
*.pyc
.venv/

# Azure Functions local settings
src/function_app/local.settings.json

# Local extraction output
local_output/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
